/* General styles */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.cursor-unset {
    cursor: unset !important;
}

/* Header styles */
header {
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

/* Footer styles */
footer {
    padding: 10px 0;
    background-color: #f8f9fa;
    border-top: 1px solid #e0e0e0;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    text-align: center;
}

/* Container styles */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.quiz-container {
    overflow-y: hidden;
}

.card {
    padding: 60px 30px;
    border-radius: 0;
    height: 100%;
}

/* Answer button styles */
.correct-answer {
    background-color: #28a745 !important;
    color: white !important;
    border: 2px solid #28a745 !important;
}

.wrong-answer {
    background-color: #dc3545 !important;
    color: white !important;
    border: 2px solid #dc3545 !important;
}

.disabled-button {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
    border: 2px solid #6c757d !important;
    color: #6c757d !important;
    background-color: transparent !important;
}


.floating-button {
    margin-left: auto;
    background-color: #007bff;
    color: white;
    border-radius: 64px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.reset-button {
    border-radius: 64px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    border: none;
}


/* Navigation button styles */
.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.navigation-buttons button {
    padding: 10px 20px;
    font-size: 16px;
}

/* Dropdown menu styles */
.dropdown-menu {
    max-height: 60vh;
    overflow-y: auto;
}

.mode-dropdown button {
    font-size: 16px;
}

.card .btn {
    margin-top: 10px;
}

.correct { color: #28a745; }
.incorrect { color: #dc3545; }
.unanswered { color: grey; }

.footer-container, .header-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
}

.overflow-scrolling{
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/* Responsive styles */
@media (max-width: 576px) {
    .h5, h5, button, .btn, p {
        font-size: 14px;
    }
    .card {
        padding: 16px;
    }
    .floating-button, .reset-button {
        font-size: 10px;
    }
}